{% extends "base.html" %}


{% block conteudo %}

<h1>Crimes</h1>
<div class="container">
    <h2>Informações do usuário</h2>
    <p>                
                Nome: {{ user.username }}
                |
                Nível: {{  profile.nivel }}
                |
                Energia: {{  profile.energia_atual }}
                |
                Raiva: {{ profile.raiva_atual }}
                |
                HP: {{ profile.hp }}
                |
                Carteira: {{ profile.carteira }}
                |
                Nivel: {{ profile.nivel}}
                |
                XP: {{ profile.experiencia}}
                |
                XP que faltam para o próximo nível: {{ xp_necessario }}
    </p>
  <!--lista de crimes que podem ser cometidos-->
  <h2>Crimes</h2>
  <p>Roubar carrocinha de cachorro quente. (1 de energia) (nível mínimo: 1) <a href="cometer/1">cometer crime</a></p>
  <p>Roubar doce de criança. (2 de energia) (nível mínimo: 2) <a href="cometer/2">cometer crime</a></p>
  <p>Roubar casa. (3 de energia) (nível mínimo: 3) <a href="cometer/3">cometer crime</a></p>
  <p>Roubar banco. (4 de energia) (nível mínimo: 5)(requer arma) <a href="cometer/4">cometer crime</a></p>
  <p>Roubar coisas secretas. (6 de energia) (nível mínimo: 8)(requer arma)(requer armadura) <a href="cometer/5">cometer crime</a></p>
</div> <!-- /container -->

{% endblock %}